<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
  <Product Id="*"
           Name="Magidesk POS"
           Language="1033"
           Version="0.1.0.0"
           Manufacturer="Magidesk"
           UpgradeCode="B8C7D6E5-F4A3-4B2C-9D8E-7F6A5B4C3D2E">
    
    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <!-- Icon definition - extracted from Magidesk.exe -->
    <Icon Id="MagideskIcon.exe" SourceFile="$(var.AppSourceDir)\Magidesk.exe" />

    <!-- Installation directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Magidesk" />
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Magidesk" />
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <!-- Features -->
    <Feature Id="ProductFeature" Title="Magidesk POS" Level="1">
      <!-- Application files harvested by Heat.exe -->
      <ComponentGroupRef Id="ApplicationFiles" />
      
      <!-- Directory permissions (Task 9.2) -->
      <ComponentRef Id="InstallFolderPermissions" />
      
      <!-- Shortcuts (Task 10.1) -->
      <ComponentGroupRef Id="ShortcutsComponentGroup" />
      
      <!-- ARP Registration (Task 10.2) -->
      <ComponentGroupRef Id="RegistryComponentGroup" />
      
      <!-- Additional component references will be added as we create them -->
    </Feature>

    <!-- Custom Actions -->
    <Binary Id="CustomActions" SourceFile="$(var.Magidesk.Installer.CustomActions.TargetDir)Magidesk.Installer.CustomActions.CA.dll" />
    
    <CustomAction Id="CA_VerifyFileCopy"
                  BinaryKey="CustomActions"
                  DllEntry="VerifyFileCopy"
                  Execute="immediate"
                  Return="check" />

    <!-- Custom action execution sequence will be defined in task 17.2 -->
    <InstallExecuteSequence>
      <!-- Verify critical files after InstallFiles completes (Task 9.3) -->
      <Custom Action="CA_VerifyFileCopy" After="InstallFiles">
        NOT Installed
      </Custom>
      
      <!-- Additional custom actions will be added in later tasks -->
    </InstallExecuteSequence>

  </Product>
</Wix>
