<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Shortcuts component -->
    <!-- Will be implemented in task 10.1 -->
    
    <ComponentGroup Id="ShortcutsComponentGroup">
      <!-- Desktop shortcut -->
      <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="*">
        <Shortcut Id="DesktopShortcut"
                  Name="Magidesk POS"
                  Description="Magidesk Point of Sale System"
                  Target="[INSTALLFOLDER]Magidesk.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="MagideskIcon.exe" />
        <RemoveFolder Id="RemoveDesktopShortcut" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Magidesk\POS" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Start Menu shortcut -->
      <Component Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Guid="*">
        <Shortcut Id="StartMenuShortcut"
                  Name="Magidesk POS"
                  Description="Magidesk Point of Sale System"
                  Target="[INSTALLFOLDER]Magidesk.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="MagideskIcon.exe" />
        <RemoveFolder Id="RemoveStartMenuFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Magidesk\POS" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
