<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Platform>x64</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
    <PackageCertificateThumbprint>7F1B8A05A42D30581F5850D09CB99964496CCD56</PackageCertificateThumbprint>
    <AppxPackageDir>build/installer</AppxPackageDir>
    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
  </PropertyGroup>
</Project>
